<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AccountingCat</title>
    
    <!--css-->
    <link rel="stylesheet" href="./static/css/style.css">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Figtree&family=Kaushan+Script&family=Love+Light&display=swap" rel="stylesheet"> 

</head>



<body>
<header>
AccountingCat
</header>
<nav>
    <ul>
        <li><a href="{{ url_for('choose_account') }}">Comptes</a></li>
        <li> <a href="#"> Paramètres </a> </li>
        <li><a href="{{ url_for('login') }}">S'identifier</a></li>
    </ul>
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container">
{% block content %} {% endblock %}
</div>
</body>
</html>