{% extends 'base.html' %}

{% block content %}
<h2>blabla qui sommes nous blabla le projet blabla</h2>
<p>Lorem ipsum dolor sit amet, consectetur 
    adipiscing elit. Praesent eu condimentum 
    sapien. Donec maximus quis lectus id 
    dignissim. Fusce laoreet elit vel leo 
    bibendum tincidunt. Duis nisi nisi, 
    hendrerit eu ornare non, pharetra non l
    ibero. Integer dictum nulla sed tellus 
    auctor, et gravida diam facilisis. 
    Praesent vehicula pharetra eros at 
    tristique. Pellentesque vitae nunc justo. 
    In porttitor vehicula risus a tempor. 
    Praesent vel sem sapien. Maecenas ultrices 
    tempus pretium. Etiam venenatis placerat 
    condimentum. </p>

<div>
    <h2>offrez un café</h2>
    
</div>
{% endblock %}